@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
  }
  @-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
  }
  
  ::-webkit-scrollbar {
	background: #bbb;
	width: 8px;
	height: 0px;
	cursor: n-resize;
  }
  ::-webkit-scrollbar-thumb {
		background: #000;
	cursor: n-resize;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 1);
	cursor: n-resize;
  }
  .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 9999999999888;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
  }
  
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color:transparent;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.show{
  display: flex;
}

.hide{
  display: none !important;
}
body {
  background-color: #ddd;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.container {
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
}

header{
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
}
.base-top{
  padding:5%;
  padding-top: 2.5%;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.logo_block{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  font-weight: 500;
  text-align: center;
  font-size: 23px;
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  font-weight: 700 !important;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  line-height: 42px;
}
.form-control{
  height: 50px;
  border: 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.base_form{
  background-color: #000;
  border-radius: 10px;
  padding: 25px;
  max-width: 80%;
  margin: 0 auto;
}

.base_form  p{
  color:#ffffff;
  font-size: 15px;
}

.base_form label{
  color: #fff;
  margin-bottom: 5px;
}

.base_form button{
  height: 50px;
  background: #88FFCC;
  font-weight: bold;
  color: #000;
  transition: all ease 0.5s;
  animation: pulse-green 2s infinite;
}

.base_form button:hover{
  transform: scale(1.02);
}



.base_form input{
  margin-bottom: 20px;
}


.about{
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  background: #FFE000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

}
.about h1{
  text-align:left;
}



.background-shapes {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 5076px;
  background-size: 100%;
  animation: 120s infiniteScroll linear infinite;
  background-repeat-x: repeat;
  background-image: url(https://cdn2.hubspot.net/hubfs/53/Pricing%202017%20Assets/marketing/Header_Circles-1.svg);
}

@-webkit-keyframes infiniteScroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -1692px, 0);
    transform: translate3d(0, -1692px, 0);
  }
}

@keyframes infiniteScroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -1692px, 0);
    transform: translate3d(0, -1692px, 0);
  }
}

.thanks{
  display: flex;
  align-items: left;
  align-content: left;
  justify-content: left;
  padding: 20vh 0;
  background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.video_iframe{
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: 480px;
  -webkit-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.10);
-moz-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.10);
box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.10);
}

.course{
  padding-top: 20vh;
  padding-bottom: 20vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.course .col{
  background: #ffff;
  border-radius: 10px;
  margin: 0px 100px;
  padding: 30px;
  -webkit-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  transition: all ease 0.5s;
}

.course .col:hover{
transform: scale(1.05);
}
.about .container{
  z-index: 99999999999999;
  position: relative;
}
.about p{
  font-size:18px;
  color: #000
}
@media(min-width:1024px){
.about h2{
  margin-top: 100px;
}
}
.aviso{
  background: #fff;
  padding: 100px;
  text-align: center;
}

.aviso h3{
  font-weight: 700;
  font-size: 40px;
  color: ##e74c3c
}

.aviso{
  font-size: 20px;
}

.aviso ul{
  padding-left:0;
  margin-left: 0;
}
.aviso img{
  max-height: 80px;
  width: auto;
  margin:20px 50px; 
}
.aviso li{
  list-style: none;
  margin-bottom: 40px;
  margin-left: 0px;
}

.aviso a{
  color: #3498db;
}

button.alert{
  max-width: 500px;
  margin: 40px auto;
  margin-bottom: 0px;
  background-color: #ffff;
  font-weight: 700;
  font-size: 18px;
}


@media(max-width: 768px){
  header {
    background-position: -35%;
  }
  header .container{
    z-index: 999;
    position: relative;
  }
  .course .cont{
    width: 100%;
  }

  header:before {
    content: '1';
    background: rgba(255,255,255,0.3);
    width: 100%;
    height: 100vh;
    z-index: 99;
    position: absolute;
    display: block;
}

  .footer .container{
    flex-direction: column !important;
    justify-content: space-between;
  }

  .footer .redes{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .base_form {
    width: 100%;
    max-width: none;
    margin-top: 5%;
} 
.base-top{
  padding:0px;
}
.base-top h1{
  margin-top: 20px;
  line-height: 30px;
}
.container {
  padding: 0 15px;
}
.course .col {
  margin: 20px 15px;
}
.about h1 {
  text-align: center;
}
h1{
  font-size: 25px !important;
  }
  .base_form p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
}
  h3{
    font-size: 18px !important;
  }
  .course {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .course .count{
    width: 100%;
    margin:20px 0;
  }

  .about {
    text-align: center;
  }
  .block_image img{
    max-width: 100% !important;
    height: auto;
  }
  iframe{
    margin-top:20px;
    max-height: 300px !important;
  }
  .thanks{
    padding-left: 15px;
    padding-right: 15px;
  }
  .alert{
    width: 100%;
  }
  .aviso ul{
    margin:0;
    padding: 0;
    flex-direction: column;
    display: flex;
  }

 
  .aviso{
    padding: 50px 20px;
  }
  .aviso img {
    float: left;
    height: auto;
    width: 110px;
    margin: 0 auto 20px auto;
}
}

.course .no{
  color: '#e74c3c'
}
.course .yes{
  color: '#2ecc71'
}

.course h4{
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.course li{
  list-style: none;
  margin-bottom: 20px;
}

.faixa{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #000000 !important;
  transition: all ease 0.5s;
}

.faixa.fixed{
  transition: all ease 0.5s;
  position: sticky;
  width: 100%;
  left: 0px;
  bottom:0px;
  z-index: 9999999999;
}


.faixa a{
  font-weight: 700;
  background-color: #88FFCC;
  padding: 10px 5%;
  border: 0px;
  -webkit-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.05);
  border-radius: 5px;
  transition: all ease 0.5s;
  animation: pulse-green 2s infinite;
  color: #000000
}



@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.footer{
  text-align: center;
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;

}

.footer .container{
  justify-content: space-between;
display: flex;
align-items:center ;

}

.footer a{
  color: #ffff;
  margin:0px 10px;
  font-size: 20px;
}

.course h2{
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0px;
}

.thanks h1{
  font-size: 29px;
  font-weight: 700 !important;
}
.thanks h3{
   font-weight: 500 !important;
}

.about h2{
font-weight: 400 !important;
}

.about h1{
  font-weight: 700 !important;
}